@mixin animation($anima...){
    -webkit-animation:$anima;
    -moz-animation: $anima;
    -o-animation: $anima;
    animation: $anima;
}
@mixin animationDuration($dur){
    -webkit-animation-duration: $dur;
    -moz-animation-duration: $dur;
    -o-animation-duration: $dur;
    animation-duration: $dur;
}
@mixin animationTimeFun($fun){
    -webkit-animation-timing-function: $fun;
    -moz-animation-timing-function: $fun;
    -o-animation-timing-function: $fun;
    animation-timing-function: $fun;
}
@mixin animationName($name){
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
}
@mixin animaFillMode($mode){
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode: $mode;
    -o-animation-fill-mode: $mode;
    animation-fill-mode: $mode;
}
@mixin transform($trans...){
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    -o-transform: $trans;
    transform: $trans;
}
@mixin keyframes($name){
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
}
.animated{
    @include animationDuration(1s);
    @include animationTimeFun(ease);
    @include animaFillMode(both);
}
$fade-direction:top,right,bottom,left;
@each $direction in $fade-direction{
    @include keyframes(fadeIn-#{$direction}){
        0%{
            opacity: 0;
            @if $direction == top{
                @include transform(translateY(-100px));
            }@else if $direction == right{
                @include transform(translateX(100px));
            }@else if $direction == bottom{
                @include transform(translateY(100px));
            }@else if $direction == left{
                @include transform(translateX(-100px));
            }
        }
        100%{
            opacity: 1;
            @include transform(translate(0));
        }
    }
    .fadeIn-#{$direction}{
        @include animationName(fadeIn-#{$direction});
    }
}
@include keyframes(zoomIn){
    0%{
        @include transform(scale(0.1));
    }
    80%{
        @include transform(scale(1.3));
    }
    100%{
        @include transform(scale(1));
    }
}
.zoomIn{
    @include animationName(zoomIn);
}
