@mixin animation($anima...){
    -webkit-animation:$anima;
    -moz-animation: $anima;
    -o-animation: $anima;
    animation: $anima;
}
@mixin animationDuration($dur){
    -webkit-animation-duration: $dur;
    -moz-animation-duration: $dur;
    -o-animation-duration: $dur;
    animation-duration: $dur;
}
@mixin animationTimeFun($fun){
    -webkit-animation-timing-function: $fun;
    -moz-animation-timing-function: $fun;
    -o-animation-timing-function: $fun;
    animation-timing-function: $fun;
}
@mixin animationName($name){
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
}
@mixin animaFillMode($mode){
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode: $mode;
    -o-animation-fill-mode: $mode;
    animation-fill-mode: $mode;
}
@mixin transform($trans...){
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    -o-transform: $trans;
    transform: $trans;
}
@mixin transition($trans...){
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}
@mixin keyframes($name){
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
}
.animated{
    @include animationDuration(1s);
    @include animationTimeFun(ease);
    @include animaFillMode(both);
}
$fade-direction:top,right,bottom,left;
@each $direction in $fade-direction{
    @include keyframes(fadeIn-#{$direction}){
        0%{
            opacity: 0;
            @if $direction == top{
                @include transform(translateY(-100px));
            }@else if $direction == right{
                @include transform(translateX(100px));
            }@else if $direction == bottom{
                @include transform(translateY(100px));
            }@else if $direction == left{
                @include transform(translateX(-100px));
            }
        }
        100%{
            opacity: 1;
            @include transform(translate(0));
        }
    }
    .fadeIn-#{$direction}{
        @include animationName(fadeIn-#{$direction});
    }
}
@include keyframes(fadeIn){
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fadeIn{
    @include animationName(fadeIn);
}
@include keyframes(zoomIn){
    0%{
        opacity: 0;
        @include transform(scale(0.1));
    }
    70%{
        @include transform(scale(1.3));
    }
    100%{
        opacity: 1;
        @include transform(scale(1));
    }
}
.zoomIn{
    @include animationName(zoomIn);
    @include animationDuration(.8s);
}
@include keyframes(expand-top){
    0%{
        height:0;
    }
    100%{
        height:140px;
    }
}
.expand-top{
    @include transition(all 1s);
    @include animationName(expand-top);
}
@include keyframes(change-bg){
    0%{
        background-image: url("http://r2.ykimg.com/051000005788498D67BC3D3AD10A0D2C") ;
    }
    30%{
        background-image: url("http://r3.ykimg.com/051000005788498E67BC3D7CB808DE7D");
    }
    70%{
        background-image: url("http://r3.ykimg.com/051000005788498D67BC3D3AD2086959");
    }
    100%{
        background-image: url("http://r3.ykimg.com/051000005788498E67BC3D7CB6045430");
    }
}
.chang-bg{
    @include animation(change-bg linear 2s infinite alternate);
}
@include keyframes(svg-dash){
    100%{
        stroke-dashoffset: 0;
    }
}
.svg-dash{
    @include animation(svg-dash 2s  ease-in alternate infinite ); 
}
