@import "animation";
$font-color:#fff;
$fsize-biger:3rem;
$fsize-middle:1.8rem;
@mixin clearfix(){
    &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
@mixin borderRadius($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
html,body,ul,img,dl,dt,dd{
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
    vertical-align: baseline;
}
html{
    font-size: 62.5%;
}
body{
    background: #000;
    font-size: 1.2rem;
    font-family: "microsoft yahei";
}
ul{list-style: none;}
.cvs-bg{
    position: fixed;
    left:0;
    top:0;
    z-index: -1;
}
  
.section{ 
    width:calc(100vw);
    height:calc(100vh); 
   
    @for $i from 0 to 5{
        $c:$i*40;
        &.s#{$i}{
            background: linear-gradient(hsla($c,50%,50%,.5),hsla($c+40,50%,50%,.8));
        }
    }
}
.s1{height:auto}
.p-base{
    >li{
        color:$font-color;
        font-size: $fsize-biger;
        margin-bottom: 1rem;
        &:nth-child(even){
            text-align: right;
        }
        dt{
            display: inline-block;
        }
        dd{
            display: inline-block;
        }
    }
}
.p-skill{ 
    display: flex;
    flex-wrap: wrap;
    @include clearfix();
    >li{
        flex: 0 0 25%;
        text-align: center;
    }
}
.p-c{
    display: block;
    width:6rem;
    height:6rem;
    font-size:$fsize-middle;
    text-align: center;
    line-height: 6rem;
    background: #eee;
    margin:1rem auto;
    @include borderRadius(50%);
}



